.form-container {
  margin-top: 50px;
  max-width: 25%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

button{
  margin-bottom: 10px;
}

.error {
  background-color: #d84f4f;
  padding: 10px;
}

.success {
  background-color: #73cc73;
  padding: 10px;
}

table { 
  margin-top: 50px;
  width: 100%;
}
